<!DOCTYPE html>
<html>
    <head>
        <title>Eightcap Blog</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="{{ asset('bundles/musicianblog/css/bootstrap.css') }}" />

 

    </head>
    <body>
        <div id="content">
        {% block content %}
            
        {% endblock %}
        </div>
    
    <script src="{{ asset('bundles/musicianblog/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/musicianblog/js/bootstrap.js') }}"></script>   
    </body>
</html>
