<!DOCTYPE html>
<html>
    <head>
        <title>Eightcap Blog</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="{{ asset('bundles/musicianblog/css/bootstrap.css') }}" />

        <script src="{{ asset('bundles/musicianblog/css/jquery.js') }}" />
        <script src="{{ asset('bundles/musicianblog/css/bootstrap.js') }}" />

    </head>
    <body>
        <div id="content">
        {% block content %}
            
        {% endblock %}
        </div>
    </body>
</html>
