{% extends "@MusicianBlog/default/blogbase.html.twig" %}



{% block content %}
{{text}}


<div id="cotnainer">
    <ul id="menu">
        <li><a href="{{ path('all') }}">View posts</a></li>
        <li><a href="{{ path('new') }}">New post</a></li>
    </ul>
</div>
{% endblock %}